.video_row {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
 
}





.thamnail_img {
    height: 150px;
    width: 270px;
    margin-right: 20px;
}

.videocard_info {
    display: flex;

}

.videorow_text>h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;

}

.videorow_text>p {
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-bottom: 12px;


}

.videorowcard_avtar {
    width: 30px !important;
    height: 30px !important;
    margin-right: 7px;
}

.videorow_text .channel_details {
    display: flex;
    margin-bottom: 10px;
}

.videorow_text .channel_details>p {
  margin-right: 6px;
}

.channel_details .verified_icons {
    width: 17px;
}

/*media qury for medium sceen  */
@media only screen and (max-width: 950px) {
    .videorow_text>h4 {
        font-size: 15px;
        font-weight: 400;
    }

    .videorow_text>p {
        font-size: 12px;
    }

    .videorowcard_avtar {
        width: 25px !important;
        height: 25px !important;
        margin-right: 5px;
    }

    .videorow_text .channel_details>p {
        font-size: 14px;
        margin: 0 8px 12px 0;
    }
    .channel_details .verified_icons {
        width: 15px;
    }

    .thamnail_img {

        margin-right: 20px;
    }

    .video_row {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .search_title {
        margin-left: 20px;
        margin-top: 15px;
    }

}

/*media qury for small screen  */

@media only screen and (max-width: 675px) {
   

    .videorow_text>h4 {
        margin-top: 8px;
        margin-left: 0;
        font-size: 13px;
        font-weight: 400;
    }

    .videorow_text {
        width: 250px;
    }

    .videorow_text>p {
        font-size: 10px;
    }

    .videorowcard_avtar {
        width: 20px !important;
        height: 20px !important;
        margin-right: 5px;
    }

    .videorow_text .channel_details>p {
        font-size: 14px;
        margin: 0 6px 10px 0;
    }

    .thamnail_img {
        height: 120px;
        width: 250px;
        margin-right: 12px;
    }

    .video_row {
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 13px;
    }

    .search_title {
        margin-left: 15px;
        margin-top: 10px;
    }
}