.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header .left {
    display: flex;
    align-items: center;
}

.header_logo {
    width: 58px;
    object-fit: contain;
    margin-left: 22px;
    cursor: pointer;
}

.btn_manu {
    background: none;
    border: none
}

.manu_icons {

    margin-left: 8px;
    cursor: pointer;
}

.middile {
    height: 38px;
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid #dddddd;

}

.middile>input {
    flex: 1 1;
    height: 38px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
}

.search_icon {
    width: 65px !important;
    border-left: 1px solid lightgray;
    color: gray;
    background-color: #fafafa;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 38px;
    justify-content: center;
}

.right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.right>svg {
    width: 36px;
    cursor: pointer;
    height: 30px;

}

/*media qury for medium screen  */

@media only screen and (max-width: 975px) {
    .header {

        height: 40px;
    }

    .middile>input {

        height: 20px;
        padding-left: 8px;

        font-size: 13px;
    }

    .middile {
        height: 20px;

    }

    .search_icon {

        height: 20px;
    }

    .search_icon>svg {
        height: 20px;
    }

    .right>svg {
        width: 36px;

        height: 25px;

    }
}

/*media qury for small screen  */

@media only screen and (max-width: 675px) {
    .header {

        height: 35px;
    }

    .header .left svg {
        width: 20px;
    }

    .search_icon {
        width: 23px !important;
        height: 17px;

    }

    .search_icon>svg {
        height: 17px;
    }

    .middile>input {
        height: 17px;
        padding-left: 5px;
        width: 80%;


    }

    .middile {
        height: 17px;

    }

    .header_logo {
        width: 40px;
        margin-left: 5px;
    }


    .right>svg {
        width: 20px;

        height: 20px;

    }

}